@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: my_font;
    src: url('./assets/policy/GolosText-VariableFont_wght.ttf');
  }

  *{
    font-family:my_font ;
  }

  body{
    overflow: hidden;
  }
  .base_bg{
    background: #63B6B9;
    
  }

  /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #63B6B9;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42898B; 
}

td:first-child{
  border-radius: 5px 0px 0px 5px; 
}
td:last-child{
  border-radius: 0px 5px 5px 0px;
}
select::after{
  border-bottom: 1px solid gray;
} 
/* set default text size */
.text_xs{
  font-size: 13px;
}

.color_base{
  color: #63B6B9;
}
tr:nth-child(even){
  background-color: rgb(246, 246, 246);
} 
 body{
  overflow-x: hidden;
 }
 