@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: my_font;
    src: url('./assets/policy/GolosText-VariableFont_wght.ttf');
  }

  *{
    font-family:my_font ;
  }

  body{
    overflow: hidden;
  }
  .base_bg{
    background: #63B6B9;
    ;
  }